@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

.Sugg-comp {
    width: 20%;
    margin-right: 80px;
    /* min-height: 200px; */
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    position: fixed;
    top: 16.5%;
    right: 0;
    /* border: 2px solid gray; */
  }
  
  .Sugg-comp h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: grey;
    font-weight: 500;
  }
  
  .s-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .s-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ddd; /* Placeholder for image */
  }
  
  .sugg-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 4px;
  }
  
  .s-left h3 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .s-right button {
    padding: 5px 10px;
    background: #0077b6;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 3px;
  }
  
  .s-right button:hover {
    /* border: 2px solid orangered; */
    background-color: #03045e;
    scale: 1.02;
  }
  
  
  @media screen and (min-width:769px) and (max-width:1024px) {
    .Sugg-comp {
      min-height: 100px;
      padding: 10px 8px;
      border-radius: 10px;
      background-color: #ffffff;
    }
    
    .Sugg-comp h2 {
      font-size: 14px;
      margin-bottom: 20px;
    }
    
    .sugg-people {
      margin-bottom: 10px;
      gap: 20px;
    }
    
    .s-left h3 {
      font-size: 13px;
    }
    
    .s-right button {
      border-radius: 3px;
      font-size: 12px;
    }
  }

  .container{
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }


  
  